nav{
    padding-top: 1rem;
    padding-bottom: 1rem;
    position: fixed;
    width: 100%;
    background-color: #525151;
    display: flex;
    z-index: 10;
}

a {
    padding-left: 1rem;
    font-family: "VT323", Arimo, Roboto, Poppins;
    text-decoration: none;
    color: #f9fbf2;
    font-size: 2rem;
}

a:active {
    color: #bf9aca;
}

ul{
    padding-left: 75%;
    margin-top: 0;
}

li{
    list-style: none;
}
