.site-text {
    font-family: "VT323", Arimo, Roboto, Poppins;
    text-decoration: none;
    color: #f9fbf2;
    font-weight: 400;
}

.header {
    padding-top: 80px;
    padding-left: 1rem;

    h1 {    
        font-size: 2.75rem;
        margin-bottom: 0;
    }

    h4 {
        font-size: 1.5rem;
        padding-left: 3rem;
        margin-top: 0.5rem;
    }
}


.subsection {
    padding-left: 1rem;
    padding-top: 2rem;
    h2 {
        font-size: 2rem;
        padding-top: 0;
        margin-top: 0;
    }
}

.paragraph-image-block {
    display: flex;
    width: 95%;
}

.diagram {
    height: 50%;
    width: 47.5%;
    margin-bottom: 2rem;
}