<div class="hand-of-cards">
    @if(!userStanding() && betPlaced()) {
        <img src="playing-cards/red_backing.png" alt="" class="card">
        <img [src]="getImagePath(dealersHand()[1])" alt="" class="card">
    }
    @else {
        @for(card of dealersHand(); track $index) {
            <img [src]="getImagePath(card)" alt="" class="card">
        }
    }
    
</div>
@if(betPlaced()) {
    <div>
        <p class="centered hand-totals">{{ !userStanding() ? "Dealer showing: " + dealersTotal() : "Dealer has: " + dealersTotal()}}</p>
    </div>
}

<div class="hand-of-cards">
    @for(card of playersHand(); track $index) {
        <img [src]="getImagePath(card)" alt="" class="card">
    }

    
</div>

@if(betPlaced()) {
    <div class="controls centered">
        <button mat-stroked-button (click)="hit('Player')" [disabled]="!disableResetButton()">Hit</button>
        <button mat-stroked-button (click)="stand()" [disabled]="!disableResetButton()">Stand</button>
    </div>
    <div>
        <p class="centered hand-totals">{{ !userStanding() ? "You have: " + playersTotal() : "Standing with: " + playersTotal()}}</p>
    </div>
}

<div class="centered betting-container">
    <button matFab class="betting-button" (click)="changeBet(-10)" [disabled]="betPlaced()">
        <mat-icon>arrow_left</mat-icon>
    </button>
    <mat-chip-set>
        <mat-chip>{{ userBet() }}</mat-chip>
    </mat-chip-set>

    <button matFab class="betting-button" (click)="changeBet(10)" [disabled]="betPlaced()">
        <mat-icon>arrow_right</mat-icon>
    </button>

    <button 
        class="centered place-bet" 
        mat-stroked-button 
        (click)="placeBet()"
        [disabled]="betPlaced()"
    >
        Place Bet
    </button>
    <button 
        class="centered place-bet" 
        mat-stroked-button 
        (click)="resetGame()" 
        [disabled]="disableResetButton()"
    >
        Reset Game
    </button>
</div>

<p class="bank-amount">Bank: {{ userBank()}}</p>