<div class="hand-of-cards">
    @if(!userStanding()) {
        <img src="playing-cards/red_backing.png" alt="" class="card">
        <img [src]="getImagePath(dealersHand()[1])" alt="" class="card">
    }
    @else {
        @for(card of dealersHand(); track $index) {
            <img [src]="getImagePath(card)" alt="" class="card">
        }
    }
    
</div>
<div>
    <p class="centered">{{ !userStanding() ? "Dealer showing: " + dealersTotal() : "Dealer has: " + dealersTotal()}}</p>
</div>

<div class="hand-of-cards">
    @for(card of playersHand(); track $index) {
        <img [src]="getImagePath(card)" alt="" class="card">
    }

    
</div>
<div class="controls centered">
    <button mat-stroked-button (click)="hit('Player')">Hit</button>
    <button mat-stroked-button (click)="stand()">Stand</button>
</div>
<div>
    <p class="centered">{{ !userStanding() ? "You have: " + playersTotal() : "Standing with: " + playersTotal()}}</p>
</div>