.hand-of-cards {
  display: flex;
  padding-top: 200px;
  justify-content: center;

  .card {
    padding-right: 8px;
  }
}

.controls {
  display: flex;
  justify-content: center;
  padding-top: 16px;

  button {
    margin: 0 4px;
  }
}