.strong-visualizer-container {
    height: 100%;
}

p {
    margin-top: 0;
    padding-top: 15rem;
    color: white;
}

.chart {
    position: absolute;
    top: 35%;
    width: 75%;
    left: 20%;
}

@media (480px < width <= 1600px) {
    .chart {
        width: 65%;
        left: 30%;
    } 
}