<div class="img-slogan-container">
    <div class="flex">
        <img src="selfie-stolen-from-my-linkedin.jpg" alt="selfie of myself in a collared shirt and sweater" class="circular-image" />
        <div class="text-and-socials">
            <h1 class="header-slogan">Software engineer goofball with experience in web development, applied mathematics and machine learning. </h1>
            <div>
                <ul class="socials-container">
                    <li>
                        <a target="_blank" href="https://www.linkedin.com/in/thomasboyle2003/">
                            <img src="linkedin-logo.png" alt="a circurlar version of the LinkedIn logo" class="linkedin-logo"/>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="https://github.com/ThomasStatic">
                            <img src="github-logo.png" alt="a circular version of the GitHub logo" class="github-logo">
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="mailto:tsboyle10@gmail.com">
                            <img src="gmail-logo.png" alt="a circular version of the gmail logo" class="gmail-logo">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>