.img-slogan-container{
    padding-top: 32px;
    display: flex;
    align-items: center;
}
.circular-image{
    border-radius: 50%;
    width: 15%;
}

.header-slogan{
    font-family: Arimo, Roboto, Poppins;
    color: #F9FBF2;
    padding-left: 40px;
    font-size: 50px;
}