

::ng-deep .mdc-dialog__title{
    font-family: "VT323", Arimo, Roboto, Poppins !important;
    font-size: 2rem !important;
}

::ng-deep .mdc-dialog__content{
    font-family: "VT323", Arimo, Roboto, Poppins !important;
    font-size: 1.5rem !important;
}

