::ng-deep .mdc-dialog__surface {
    background-color: #f9fbf2;
}

::ng-deep .mdc-dialog__title{
    font-family: "VT323", Arimo, Roboto, Poppins !important;
    font-size: 2rem !important;
    color: #333232 !important;
}

::ng-deep .mdc-dialog__content{
    font-family: "VT323", Arimo, Roboto, Poppins !important;
    font-size: 1.5rem !important;
    color: #333232 !important;
}

