<app-header></app-header>
<div class="font">
    <h2 class="interesting-header">Psst! Here's why (I think) I'm interesting! </h2>
    <div class="interesting-body">
        <div>
            <h3>Applied Mathematics & Computer Engineering &#64; <a href="https://www.queensu.ca/mathstat/undergraduate/prospective-undergraduate/mthe" target="_blank">Queen's University</a></h3>
            <p>The Applied Mathematics program at Queen's University is the only fully 
                accredited Engineering program in North America that is offered by a
                mathematics department. Being part of this unique program has given me
                exposure to rich mathematical concepts without my software abilities
                taking a hit... just my sleep schedule &#40;but hey, that's why coffee was
                created!&#41;.</p>
        </div>
        <div>
            <h3>Ex Software Engineering Intern &#64; <a href="https://www.tylertech.com/" target="_blank">Tyler Technologies</a></h3>
            <p>I interned for 16 months consequtively as a full stack and cloud infrastructure engineer 
                at Tyler Technologies, the biggest provider of software to the U.S. government.
                For the curious techies... I used Angular and .NET as a full stack, and worked with EC2 and S3
                for cloud work. 
            </p>
        </div>
        <div>
            <h3>Side projects... not copied from a YouTube video!! <a href="https://github.com/ThomasStatic" target="_blank">View my GitHub</a></h3>
            <p>Can we be honest for a second? When someone blindly copies a video tutorial, they
                aren't learning anything but syntax... if even that. If you look through my GitHub,
                although you'll find a few of these intro projects, you'll also find many, many things
                that myself and some good friends have built from scratch! 
            </p>
        </div>
    </div>
</div>