a{
    color: #246EB9;
    font-weight: bolder;
}

a:active{
    color: #BF9ACA;
}

.font{
    font-family: "VT323", Arimo, Roboto, Poppins;
}

.interesting-header{
    font-size: 3rem;
    font-weight: 400;
    color: #f9fbf2;
    padding-top: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

@media (width <= 1600px) {
    .interesting-header {
        font-size: 1.5rem;
    }
}

.interesting-body{
    padding-left: 4rem;
    padding-bottom: 1.5rem;
    
    div {
        padding-top: 2rem;
        padding-right: 4rem;
        
        h3 {
            font-weight: 400;
            font-size: 2rem;
            color: #f9fbf2;
        }
        
        p{
            color: #f9fbf2;
            font-size: 1.3rem;
        }

    }
    
}